<div id="section1">
  {% include "partial/hero.html" %}
</div>
<div id="section2" class="container">
  <div class='row'>
    <div class='col-sm-4'>
      <div class='week-calendar'>
        <div class='day-card'>
          <div class='day'>Sun, Oct. 5th 2016</div>
          <div class='workout-card'>
            <span class='gym-logo'><img src="assets/images/ffc.png" alt="ffc" /></span>
            <span class='buddy-name'>Johnny Wong @ 11:30am</span>
            <span class='icon-plus'><img src="assets/images/plus.svg" alt="join"></span>
          </div>

          <div class='workout-card'>
            <span class='gym-logo'><img src="assets/images/soulcycle.png" alt="soulcycle" /></span>
            <span class='buddy-name'>Karen Smith @ 5:30pm</span>
            <span class='icon-plus'><img src="assets/images/plus.svg" alt="join"></span>
          </div>

          <div class='workout-card'>
            <span class='gym-logo'><img src="assets/images/soulcycle.png" alt="soulcycle" /></span>
            <span class='buddy-name'>Jennifer LeTang @ 7:45pm</span>
            <span class='icon-plus'><img src="assets/images/plus.svg" alt="join"></span>
          </div>
        </div>

        <div class='day-card'>
          <div class='day'>Mon, Oct. 6th 2016</div>
          <div class='workout-card'>
            <span class='gym-logo'><img src="assets/images/ffc.png" alt="ffc" /></span>
            <span class='buddy-name'>Johnny Wong @ 6:30am</span>
            <span class='icon-plus'><img src="assets/images/plus.svg" alt="join"></span>
          </div>

          <div class='workout-card'>
            <span class='gym-logo'><img src="assets/images/bkb.png" alt="bkb" /></span>
            <span class='buddy-name'>Tim Jones @ 6:30pm</span>
            <span class='icon-plus'><img src="assets/images/plus.svg" alt="join"></span>
          </div>

        </div>

        <div class='day-card'>
          <div class='day'>Tues, Oct. 7th 2016</div>
          <div class='workout-card'>
            <span class='gym-logo'><img src="assets/images/soulcycle.png" alt="soulcycle" /></span>
            <span class='buddy-name'>Sarah Bell @ 12:3pm</span>
            <span class='icon-plus'><img src="assets/images/plus.svg" alt="join"></span>
          </div>

          <div class='workout-card'>
            <span class='gym-logo'><img src="assets/images/soulcycle.png" alt="soulcycle" /></span>
            <span class='buddy-name'>Karen Smith @ 5:30pm</span>
            <span class='icon-plus'><img src="assets/images/plus.svg" alt="join"></span>
          </div>

          <div class='workout-card'>
            <span class='gym-logo'><img src="assets/images/cg.png" alt="cg" /></span>
            <span class='buddy-name'>Tom Thorn @ 8:45pm</span>
            <span class='icon-plus'><img src="assets/images/plus.svg" alt="join"></span>
          </div>
        </div>

        <div class='day-card'>
          <div class='day'>Wed, Oct. 8th 2016</div>
          <div class='workout-card'>
            <span class='gym-logo'><img src="assets/images/ffc.png" alt="ffc" /></span>
            <span class='buddy-name'>Mike Peterson @ 7:45pm</span>
            <span class='icon-plus'><img src="assets/images/plus.svg" alt="join"></span>
          </div>
        </div>
      </div>

      <span class='pull-right view-all'><a href='#'>View All</a></span>

    </div>


    <div class='col-sm-8'>
      <h1>News Feed</h1>

      <div class='news-feed'>
        <div class='news-card'>
          <div class='title'>Jared Leona is training for 10K</div>
          <div class='newscard-content'>
            <span class='date'>Oct. 5, 2016 @ 1:30am</span>
            <span class='pull-right'><span class='published-by'>Jared Leona</span></span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget molestie ligula, vel varius sem. Fusce posuere, velit sed finibus facilisis, lectus ex iaculis magna, porttitor sagittis justo sem nec erat. Proin fringilla ultricies dignissim.
            </p>
            <div class='btn-container'>
              <span class='like-btn'><span class='glyphicon glyphicon-thumbs-up'></span>Like</span>
              <span class='comments-btn'><span class='glyphicon glyphicon-comment'></span>Comment</span>
              <span class='share-btn'><span class='glyphicon glyphicon-share'></span>Share</span>
            </div>
          </div>
        </div>

        <div class='news-card'>
          <div class='title'>Jared Leona is training for 10K</div>
          <div class='newscard-content'>
            <span class='date'>Oct. 5, 2016 @ 8:30am</span>
            <span class='pull-right'><span class='published-by'>Jared Leona</span></span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget molestie ligula, vel varius sem. Fusce posuere, velit sed finibus facilisis, lectus ex iaculis magna, porttitor sagittis justo sem nec erat. Proin fringilla ultricies dignissim.
            </p>
            <div class='btn-container'>
              <span class='like-btn'><span class='glyphicon glyphicon-thumbs-up'></span>Like</span>
              <span class='comments-btn'><span class='glyphicon glyphicon-comment'></span>Comment</span>
              <span class='share-btn'><span class='glyphicon glyphicon-share'></span>Share</span>
            </div>
          </div>
        </div>

        <div class='news-card'>
          <div class='title'>Spinning at Soul Cycle</div>
          <div class='newscard-content'>
            <span class='date'>Oct. 5, 2016 @ 10:27am</span>
            <span class='pull-right'><span class='published-by'>Sarah Bell</span></span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget molestie ligula, vel varius sem. Fusce posuere, velit sed finibus facilisis, lectus ex iaculis magna, porttitor sagittis justo sem nec erat. Proin fringilla ultricies dignissim.
            </p>
            <div class='btn-container'>
              <span class='like-btn'><span class='glyphicon glyphicon-thumbs-up'></span>Like</span>
              <span class='comments-btn'><span class='glyphicon glyphicon-comment'></span>Comment</span>
              <span class='share-btn'><span class='glyphicon glyphicon-share'></span>Share</span>
            </div>
          </div>
        </div>

        <div class='news-card'>
          <div class='title'>LETS WORKOUT!!!</div>
          <div class='newscard-content'>
            <span class='date'>Oct. 5, 2016 @ 11:07am</span>
            <span class='pull-right'><span class='published-by'>Johnny Wong</span></span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget molestie ligula, vel varius sem. Fusce posuere, velit sed finibus facilisis, lectus ex iaculis magna, porttitor sagittis justo sem nec erat. Proin fringilla ultricies dignissim.
            </p>
            <div class='btn-container'>
              <span class='like-btn'><span class='glyphicon glyphicon-thumbs-up'></span>Like</span>
              <span class='comments-btn'><span class='glyphicon glyphicon-comment'></span>Comment</span>
              <span class='share-btn'><span class='glyphicon glyphicon-share'></span>Share</span>
            </div>
          </div>
        </div>

      </div>

      <span class='pull-right view-all'><a href='#'>View All</a></span>
    </div>
  </div>
</div>
<div id="section3" class="container">

  <div class='row'>
    <div class='col-sm-12'>
      <h1 class='section-title'>Partners</h1>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-3 col-xs-3'>
      <div class='partners-img-wrapper'>
        <img src="assets/images/soulcycle.png" alt="soulcycle">
      </div>
    </div>

    <div class='col-sm-3 col-xs-3'>
      <div class='partners-img-wrapper'>
        <img src="assets/images/bkb.png" alt="brooklynboulders">
      </div>
    </div>

    <div class='col-sm-3 col-xs-3'>
      <div class='partners-img-wrapper'>
        <img src="assets/images/cg.png" alt="cheetahsgym">
      </div>
    </div>

    <div class='col-sm-3 col-xs-3'>
      <div class='partners-img-wrapper'>
        <img src="assets/images/ffc.png" alt="ffc">
      </div>
    </div>
  </div>
</div>
